# Dependency directories
node_modules/

# Build outputs
/dist
/build
/.next

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE and editor directories
/.idea
/.vscode
*.swp
*~
.DS_Store 

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional directories created by macOS
.TemporaryItems
.Trashes
node_modules
package-lock.json
.DS_Store
